* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* border: 1px solid; */
    font-family: 'Chivo', sans-serif;
}


/* manage scrollbar */

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: rgba(172, 172, 172, 0.301);
}

::-webkit-scrollbar-thumb {
    background: #56ab2f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #a8e063, #56ab2f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #a8e063, #579739);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


/* end manage scrollbar */

header {
    position: fixed;
    top: 0;
    display: grid;
    grid-template-columns: 400px 500px auto;
    padding: 10px;
    width: 100%;
    background-color: white;
    border-bottom: 1px solid#a8e063;
    z-index: 20;
}

.header {
    display: flex;
    font-size: 16px;
    margin-left: 10px;
}

.center {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

.max-3 {
    font-size: 16px;
    display: flex;
    justify-content: center;
}

.max-4 {
    width: 28px;
    height: 28px;
    font-size: 24px;
    margin-right: 8px;
    display: flex;
}

.search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search input {
    width: 400px;
    border: 1px solid;
}

.search button {
    background-color: white;
    border-radius: 2px;
    border: 1px solid;
    width: 34px;
    padding-bottom: 9px;
}

.four-px {
    padding: 8px;
    outline: none;
}

.navigation {
    display: flex;
    justify-content: center;
}

.navigation>ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

.navigation>ul>li {
    margin: 0 14px;
}

.navigation>ul>li>a {
    text-decoration: none;
    color: black;
}

section.hero {
    display: grid;
    grid-template-areas: "left right" "playing playing";
    grid-template-columns: 15% 85%;
    margin-top: 60px;
}

.left-display {
    border-right: 1px solid #a8e063;
    height: 100%;
    grid-area: left;
}

.left-header {
    padding: 10px;
    position: fixed;
    width: 17%;
}

.menu {
    margin: 8px 0;
    padding: 10px;
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.menu:hover {
    color: rgba(127, 179, 5, 0.747);
}

.right-display {
    grid-area: right;
    margin-bottom: 70px;
}

.album-rule {
    padding: 20px 10px;
    margin: 0 0 10px 0;
}

.album-title {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
}

.album-wrapper {
    display: grid;
    grid-template-columns: 220px 220px 220px 220px 220px;
}

.box {
    height: 240px;
    margin: 0 10px;
}

.genre {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.album {
    height: 200px;
    border: 1px solid white;
    border-radius: 4px;
    position: relative;
}

.album img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba( 31, 38, 135, 0.37);
}

.album_desc {
    padding: 2px;
}

.album_desc p {
    font-size: 13.5px;
    opacity: .8;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 20;
}

.playing-status {
    grid-area: playing;
    width: 100%;
    height: 70px;
    border: 1px solid #a8e063;
    background-color: rgb(255, 255, 255);
    display: grid;
    grid-template-areas: "status track option";
    grid-template-columns: 15% 70% 15%;
    align-items: center;
    padding: 10px;
}

.play {
    grid-area: status;
    display: flex;
    align-items: center;
    justify-content: center;
}

.py {
    margin: 0 10px;
    padding: 4px;
}

.status {
    font-size: 20px;
}


/* toggle play */

.lni-pause {
    display: none;
}

.play-toggle .lni-pause {
    display: block;
    color: #56ab2f;
}

.play-toggle .lni-play {
    display: none;
}


/* end it */

.timeline {
    grid-area: track;
    display: flex;
    align-items: center;
    font-size: 14px;
    flex-direction: column;
    padding: 2px;
}

.time {
    display: flex;
    align-items: center;
    font-size: 12px;
}

.song-title {
    margin-bottom: 6px;
}

.slider {
    -webkit-appearance: none;
    background-color: #0f0f0e;
    width: 500px;
    height: 2px;
    outline: none;
    margin: 0 6px;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #56ab2f;
}

.option {
    grid-area: option;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-size: 20px;
}